- name: Update apt
  ansible.builtin.apt:
    update_cache: yes

- name: Install Docker
  ansible.builtin.apt:
    name: docker.io
    state: present

- name: Start and enable Docker service
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

# Add user to docker group ---

- name: Ensure docker group exists
  ansible.builtin.group:
    name: docker
    state: present

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: Reset SSH connection to apply new group membership
  ansible.builtin.meta: reset_connection

# ---

- name: Run Nginx container
  docker_container:
    name: nginx_container
    image: nginx
    state: started
    ports:
      - "8080:80"

- name: Show running containers
  shell: docker ps
  register: result

- name: Display running containers
  debug:
    var: result.stdout_lines


- name: Install Docker Compose
  become: yes
  get_url:
    url: https://github.com/docker/compose/releases/download/v2.24.0/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: '0755'

- name: Create docker compose symlink
  become: yes
  file:
    src: /usr/local/bin/docker-compose
    dest: /usr/bin/docker-compose
    state: link
