name: Deploy Infra & Configure Server

on:
  push:
    branches:
      - main
      - deploy-try2
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install Terraform
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      # Add AWS credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}


      # Terraform INIT
      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      # Terraform PLAN
      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -var-file="dev-values.tfvars"

      # Terraform APPLY
      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -var-file="dev-values.tfvars" -auto-approve


      - name: Get Connection Info
        working-directory: terraform
        run: |
          # Save the Public IP to a Github ENV variable
          echo "EC2_IP=$(terraform output -raw instance_public_ip)" >> $GITHUB_ENV
          

          # Save the Private Key filename to a Github ENV variable
          echo "KEY_FILE=$(terraform output -raw ssh_private_key)" >> $GITHUB_ENV
          


      # Install Ansible
      - name: Install Ansible
        run: |
          echo "EC2_IP is $EC2_IP"
          echo "Private key file is $KEY_FILE"
          sudo apt-get update -y
          sudo apt-get install -y ansible

      # Run Ansible playbook
      - name: Run Ansible provision
        working-directory: terraform
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
        run: ansible-playbook -i hosts.ini ../ansible/playbook.yaml

