name: Deploy Infra & Configure Server

on:
  push:
    branches:
      - main
      - deploy
  workflow_dispatch:

jobs:
  provision:
    runs-on: ubuntu-latest
    outputs:
      server_ip: ${{ steps.tf_output.outputs.server_ip }}
      server_user: ${{ steps.tf_output.outputs.server_user }}
      ssh_private_key: ${{ steps.tf_output.outputs.ssh_private_key }}

    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install Terraform
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2

      # Add AWS credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}


      # Terraform INIT
      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      # Terraform PLAN
      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -var-file="dev-values.tfvars"

      # Terraform APPLY
      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -var-file="dev-values.tfvars" -auto-approve

      # Install Ansible
      - name: Install Ansible
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ansible

      # Run Ansible playbook
      - name: Run Ansible provision
        working-directory: terraform
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
        run: ansible-playbook -i hosts.ini ../ansible/playbook.yaml


